.button-add {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(140, 245, 245);
    border: 1px solid rgb(150, 150, 200);
    color: rgb(115, 115, 200);
    border-radius: 5px;
    margin-top: 1rem;
}

.button-add:hover{
    background-color: rgb(150, 150, 200);
    color: white;
    box-shadow: 0 0 0 3px rgb(150, 150, 200);
}

.plus {
    font-weight: 600;
    margin-left: 1rem;
    font-size: 30px;
}