.input {
    width: 400px;
    height: 50px;
    text-align: center;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.input-text {
    width: 240px; 
    height: 26px; 
    background-color: aliceblue; 
    border: 1px solid rgb(150, 150, 200);
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
}
