.header {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(150, 150, 200);
    color: white;
    margin-top: 1rem;
    padding-left: 1rem;
}

h1 {
    margin: 0;
}