.list {
    width: 460px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
    background-color: rgb(250, 250, 230);
    border: 1px solid rgb(150, 150, 200);
    border-radius: 3px;
}

.list-item {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(115, 115, 200);
}