.button-save {
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    background-color: rgb(160, 245, 220);
    border: 1px solid rgb(150, 150, 200);
    color: rgb(115, 115, 200);
    border-radius: 3px;
    cursor: pointer;   
}

.button-save:hover{
    background-color: rgb(150, 150, 200);
    color: white;
    box-shadow: 0 0 0 3px rgb(150, 150, 200);
}