.buttons {
    display: flex;
}

.button-item {
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 245, 220);
    border: 1px solid rgb(150, 150, 200);
    border-radius: 3px;
    cursor: pointer;
}

.button-item:hover{
    background-color: rgb(150, 150, 200);   
}

